<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kantine</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

    <div class="topnav">
        <a class="Hjem" href="/"><img src="/static/images/logo.png" alt="logo" style="height: 50px;" ></a>
        <a class="meny" href="/meny">Meny</a>
        <a class="varer" href="/varer">Varer</a>
        <a class="kontakt" href="/kontakt">Kontakt</a>
        <a class="register" href="/register">Registrer</a>
        <a class="login" href="/login">Logg inn</a>
    </div>


    {% block content %}{% endblock %}
      <div class="footer">
    <p>© Copyright 2025 | Akademiet kantine</p>
    <p>Laget av Helene</p>
    </div>
    
</body>
</html>