{% extends "base.html" %}

{% block content %}
<a href class="mat" href="/"><img src="/static/images/mat.jpg" alt="sunn mat" ></a>
<div class="info">
<h1>Velkommen til akademiet sin egen Kantine!</h1>
<h4>Her på akademiet ønsker vi å fremme ett godt kosthold, da dette kan føre til bedre konsentrasjon i timene. <br>Derfor setter vi stort fokus på å servere sunn og næringsrik mat i vår egen kantine. <br><br>
Hos oss finner du et variert utvalg av matretter som passer for alle  enten du trenger en rask frokost før første time, <br>en mettende lunsj i pausen, eller bare noe lett og friskt på ettermiddagen. <br><br>
Vi har også vegetariske og veganske alternativer, samt allergivennlige retter som er tydelig merket. <br>Alle skal føle seg velkomne og trygge når de handler hos oss.<br><br>
I tillegg til mat, tilbyr vi et utvalg sunne drikker, som ferskpresset juice, melk og smoothie  og selvfølgelig kaffe og te for de som trenger litt ekstra energi.<br>
Kantina er mer enn bare et sted å spise  det er også et sosialt samlingspunkt der elever og ansatte kan slappe av, <br> prate og ta en pause fra skoledagen. Vi jobber hele tiden med å forbedre menyen og tar gjerne imot forslag og ønsker fra dere. <br></h4>
<h4>Denne nettsiden skal hjelpe både elever og foresatte med å vise hva skolens kantine har å tilby, <br>og skal være enkel å navigere seg rundt for å best mulig finne frem.</h4>
<h2>Velkommen inn  vi gleder oss til å se deg!</h2>
</div>
{% endblock %}